html { 
  border: 5px solid #b71236;
  font-family:Georgia, 'Times New Roman', Times, serif;
 }
 .border {
  border: 100px solid #c7ccbd ; 
  padding: 0%;
  padding-left: 0px;
 }

body { 
  border: 100px solid #c7ccbd ; 
  max-width: 60em;
  margin: 2em auto;

}

header {
background-color:#b71236 ;
color: white;
text-align: center;
height: 100px;
padding-top: 50px;
padding-bottom: 50px;
}
main section p {
  padding-left: 30px;
}
main section h2 {
  padding-left: 30px;
  
  
}
.img1 {
  border: 5px solid black;
  border-width: thin;
  background-color: white;
 
  width: fit-content;
  align-content: center;
  text-align: center;
  padding-right: 50px;
  padding-bottom: 10px;
  outline-width: 0px;
  font-size: small;
  line-height: 50px;
  display: flex;
  align-items: center;
  flex-direction:column ;
}
.img1 img {
  width: 450px;
  padding-left: 50px;
}
section ul {
  padding-left: 70px;
}


.img2 {
  border: 5px solid black;
  border-width: thin;
  background-color: white;
  box-sizing: content-box;
  width: fit-content;
  align-content: center;
  text-align: center;
  padding-right: 50px;
  padding-bottom: 10px;
  outline-width: 0px;
  font-size: small;
  line-height: 50px;
}
.img2 img {
  width: 450px;
  padding-left: 50px;
}

.poem {
  padding-left: 30px;
}
.pied-page {
  font-size:smaller;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  padding-right: 20px;
  text-align: right;
  background-color: white;
  border-left: 30px solid #c7ccbd;
  border-right: 30px solid #c7ccbd;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-top:15px ;

}